@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.slide-in {
    animation: slide-in 2s ease-in-out;
}

.slide-out {
    animation: slide-out 2s ease-in-out;
}