@keyframes animate-slide-slow {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.animate-slide-slow {
    animation: animate-slide-slow 30s linear infinite;
}

.flex {
    display: flex;
}

.space-x-8 {
    gap: 2rem;
}