@keyframes slideIn {
    from {
        transform: translateX(-100%) translateY(-50%);
    }

    to {
        transform: translateX(0) translateY(-50%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0) translateY(-50%);
    }

    to {
        transform: translateX(-100%) translateY(-50%);
    }
}

.slide-in {
    animation: slideIn 2s forwards;
}

.slide-out {
    animation: slideOut 2s forwards;
}